
.services {
  text-align: center;
  padding: 20px;
  background-color: white;
}

h1 {
  font-size: 36px;
  color: #333;
}

.service {
  margin: 20px;
  display: inline-block;
  width: 100%; /* Take up full width on small screens */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.service img {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}


/* Media queries for responsiveness */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 20px;
  }

  nav li {
    margin: 10px 0;
  }

  .service {
    width: 100%;
  }
}