  header {
    background-color: none;
    color: black;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }

  .title {
    text-align: center;
  }

  .title p {
    font-family: cursive;
  }
  
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .project {
    margin: 20px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: white;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .project h2 {
    font-size: 24px;
    color: #333;
  }
  
  .project p {
    font-size: 16px;
    color: #666;
  }

  .portfolio a {
    text-decoration: none;
    color: black;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    .portfolio {
      flex-direction: column;
      align-items: center;
    }
  
    .project {
      width: 80%;
    }
  }